.conteudo {
    align-items: center;
}
p {
    border: solid rgb(128, 194, 194);
    float: left;
    padding: 2%;
    margin-left: 6% ;
    align-items: center;
}
.img {
    width: 800px;
    margin-left: 5%;
}
body {
    background-color: rgb(226, 255, 251);
}
.all {
    margin-left: 15%;
}
